#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
  font-family: "Lato";
}

:root {
  --background: #0a0a0a;

  --darkpurple: #4c027a;

  --pinkGradient: linear-gradient(
      203deg,
      rgba(107, 52, 52, 0.4) 11.05%,
      rgba(255, 5, 5, 0.4) 109.6%
    ),
    #b718b0;

  --purpleGradient: linear-gradient(
      203deg,
      rgba(255, 20, 20, 0.4) 11.05%,
      rgba(143, 0, 255, 0.4) 109.6%
    ),
    #4492d9;

  --greenGradient: linear-gradient(
      203deg,
      rgba(20, 80, 234, 0.4) 11.05%,
      rgba(255, 245, 0, 0.4) 109.6%
    ),
    #1e9e2d;

  --purpleGradient: linear-gradient(
      203deg,
      rgba(224, 59, 59, 0.4) 11.05%,
      rgba(0, 133, 255, 0.4) 109.6%
    ),
    #9818e7;

  --yellowGradient: linear-gradient(
      203deg,
      rgba(71, 97, 17, 0.4) 11.05%,
      rgba(255, 61, 0, 0.4) 109.6%
    ),
    #fcff39;

  --redGradient: linear-gradient(
      203deg,
      rgba(51, 0, 255, 0.4) 11.05%,
      rgba(188, 18, 18, 0.4) 109.6%
    ),
    #e8110e;

  --whiteGradient: linear-gradient(
      203deg,
      rgba(255, 255, 255, 0.4) 11.05%,
      rgba(201, 201, 201, 0.4) 109.6%
    ),
    #fff;
}

body {
  font-family: "Lato";
  background-color: var(--background);
  font-size: 16px;
  color: white;
  height: 100vh;
}

/*styling of the nav*/

nav {
  display: flex;
  width: 100%;
  padding-top: 40px;
  justify-content: space-between;
  align-items: center;
}

.loginSignUp {
  font-size: 18px;
  color: white;
}
.logo {
  width: 59.396px;
  height: 63.123px;
  flex-shrink: 0;
}

/*card holder for now*/
.cardFav {
  background: var(--pinkGradient);
  width: 118px;
  border-radius: 16px;
}

.cardFav img {
  width: 32px;
}

.topCards {
  display: flex;
  padding: 60px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
